services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "80:3000"
    environment:
      - ADMIN_PASSWORD=Brumb@r1303
      - DB_PATH=/data/app.db
      - RESEND_API_KEY=re_8YkvujP5_7Az6LJzp19eLPvcP3Jx7cdjL  # Добави твоя ключ тук
    volumes:
      - ./data:/data