services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "80:3000"
    environment:
      - ADMIN_PASSWORD=Brumb@r1303
      - DB_PATH=/data/app.db
    volumes:
      - ./data:/data