@import "tailwindcss";

/* ДОБАВИ ТЕЗИ ДВА РЕДА ТУК */
@import "yet-another-react-lightbox/styles.css";
@import "yet-another-react-lightbox/plugins/thumbnails.css";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Твоят съществуващ оувъррайд */
html,
body {
  background: #f8fafc !important; /* slate-50 */
}